// nextflow.config
params {
    species         = "Athaliana_447" // make sure species name is as it is on Phytozome - at least starts equal

    // Files
    reads_file      = "/home/bia.estevam/landscapeSplicingGrasses/nextflow_testing_zone/TEST_5SRR_list.txt"
    genomeFASTA     = "/home/bia.estevam/landscapeSplicingGrasses/data/Phytozome/PhytozomeV12/early_release/Athaliana_447_Araport11/assembly/Athaliana_447_TAIR10.fa" //update
    genomeGFF       = "/home/bia.estevam/landscapeSplicingGrasses/data/Phytozome/PhytozomeV12/early_release/Athaliana_447_Araport11/annotation/Athaliana_447_Araport11.gene_exons.gff3" // update
    genome_path     = "/home/bia.estevam/landscapeSplicingGrasses/data/Phytozome/PhytozomeV12/early_release/Athaliana_447_Araport11/assembly"  // update
    genome          = "/home/bia.estevam/landscapeSplicingGrasses/data/Phytozome/PhytozomeV12/early_release"

    // STAR config
    threads         = 12

    // bbduk config
    bbduk           = "/Storage/progs/bbmap_35.85/bbduk2.sh"
    minlength       = 60
    trimq           = 20
    k               = 27
    rref            = "/Storage/progs/BBMap/resources/adapters.fa"

    // SGSeq config
    r_libs          = "/home/bia.estevam/R/library"
    sgseq_cores     = 4

    // MAJIQ config
    majiq_path      = "/home/bia.estevam/landscapeSplicingGrasses/majiq/bin"

    maxmem          = "20g" // 
}

executor {
    queueSize = 100  // Controls total concurrent submissions
}

// reports 
report {
    enabled = true
    file = "report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "timeline.html" 
    overwrite = true
}

trace {
    enabled = true
    file = "trace.txt"
    overwrite = true
}

// set the default memory and cpu for processes 
profiles {
  sge {
    process {
      executor = 'sge'
      queue = 'introns.q@neotera.bioinfo.cluster'
      clusterOptions = '-S /bin/bash -V -pe smp 2'
      scratch = false
      withName: 'runBBDuK' { clusterOptions = '-S /bin/bash -pe smp 8 -l h_vmem=24G -V' }
      withName: 'genomeGenerateSTAR' { clusterOptions = '-S /bin/bash -pe smp 12 -l h_vmem=16G -V' }
      withName: 'mappingSTAR' { clusterOptions = '-S /bin/bash -pe smp 12 -l h_vmem=16G -V' }
      withName: 'sgseq' { clusterOptions = '-S /bin/bash -pe smp 8 -l h_vmem=10G -V' }
    }
  }

  local {
    process {
      executor = 'local'
      withName: 'runBBDuK' { cpus = 8
                             memory = '24 GB' }
      withName: 'genomeGenerateSTAR' { cpus = 12
                                       memory = '16 GB' }
      withName: 'mappingSTAR' { cpus = 12
                                memory = '16 GB' }
      withName: 'sgseq' { cpus = 8
                          memory = '10 GB' }
    }
  }
}

// dont change it
workflow {
  failOnIgnore = false
}


