process {
    cpus = 8               // Define o número de núcleos padrão
    // memory = '4 GB'        // Define a memória padrão
    // time = '2h'            // Define o tempo máximo de execução padrão
    queue = 'long'         // Define a fila (em caso de clusters)
    // errorStrategy = 'retry' // Repetir se ocorrer um erro
    // maxRetries = 3          // Tentativas máximas para processos com erro
}
