workDir = "/home/bia.estevam/landscapeSplicingGrasses/SpliceScape_analysis/Arabidopsis_thaliana2"

// nextflow.config
params {
    user            = ""
    password        = "" 
    url             = ""
    
    outdir          = "${workDir}/output" // Output directory for the workflow
    species         = "Athaliana_447" // make sure species name is as it is on Phytozome - at least starts equal

    // Files
    reads_file      = "/home/bia.estevam/landscapeSplicingGrasses/data/srrs/athaliana_srr_list.txt"
    genomeFASTA     = "/home/bia.estevam/landscapeSplicingGrasses/data/Phytozome/PhytozomeV12/early_release/Athaliana_447_Araport11/assembly/Athaliana_447_TAIR10.fa" //update
    genomeGFF       = "/home/bia.estevam/landscapeSplicingGrasses/data/Phytozome/PhytozomeV12/early_release/Athaliana_447_Araport11/annotation/Athaliana_447_Araport11.gene_exons.gff3" // update
    genome_path     = "/home/bia.estevam/landscapeSplicingGrasses/data/Phytozome/PhytozomeV12/early_release/Athaliana_447_Araport11/assembly"  // update
    genome          = "/home/bia.estevam/landscapeSplicingGrasses/data/Phytozome/PhytozomeV12/early_release"

    // STAR config
    threads         = 12

    // bbduk config
    bbduk           = "/Storage/progs/bbmap_35.85/bbduk2.sh"
    minlength       = 60
    trimq           = 20
    k               = 27
    rref            = "/Storage/progs/BBMap/resources/adapters.fa"
    maxmem          = "20g" //

    // SGSeq config
    r_libs          = "/home/bia.estevam/R/library"
    sgseq_cores     = 4

    // MAJIQ config
    majiq_path      = "/home/bia.estevam/landscapeSplicingGrasses/majiq/bin"
    majiq_cores     = 8

     
}

executor {
    queueSize = 100  // Controls total concurrent submissions
}

// reports 
report {
    enabled = true
    file = "report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "timeline.html" 
    overwrite = true
}

trace {
    enabled = true
    file = "trace.txt"
    overwrite = true
}

// set the default memory and cpu for processes 
profiles {
  sge {
    process {
      executor = 'sge'
      queue = 'introns.q@neotera.bioinfo.cluster'
      clusterOptions = '-S /bin/bash -V -pe smp 2'
      scratch = false
      maxForks = 4 // 5
      withName: 'DOWNLOAD_READ_FTP' { clusterOptions = '-S /bin/bash -pe smp 2 -l h_vmem=2G -V' 
                                     maxForks = 10 }
      withName: 'ALTERNATIVE_RUN_BBDUK' { clusterOptions = '-S /bin/bash -pe smp 8 -l h_vmem=24G -V' }
      withName: 'RUN_BBDUK' { clusterOptions = '-S /bin/bash -pe smp 8 -l h_vmem=24G -V' }
      withName: 'GENOME_GENERATE_STAR' { clusterOptions = '-S /bin/bash -pe smp 12 -l h_vmem=16G -V' }
      withName: 'MAPPING_STAR' { clusterOptions = '-S /bin/bash -pe smp 12 -l h_vmem=16G -V' 
                             maxForks = 2 }
      withName: 'SGSEQ' { clusterOptions = '-S /bin/bash -pe smp 8 -l h_vmem=90G -V' 
                             maxForks = 1 }
      withName: 'MAJIQ_RUN' { clusterOptions = '-S /bin/bash -pe smp 8 -l h_vmem=24G -V'
                             maxForks = 2 }
    }
  }

  local {
    process {
      executor = 'local'
      withName: 'RUN_BBDUK' { cpus = 8
                             memory = '24 GB' }
      withName: 'GENOME_GENERATE_STAR' { cpus = 12
                                       memory = '16 GB' }
      withName: 'MAPPING_STAR' { cpus = 12
                                memory = '16 GB' }
      withName: 'SGSEQ' { cpus = 8
                          memory = '10 GB' }
      withName: 'MAJIQ_RUN' { cpus = 8
                          memory = '10 GB' }
    }
  }
}

// dont change it
workflow {
  failOnIgnore = false
}


